/* 声明自定义字体库为iconfont */
@font-face {
    font-family: 'iconfont';  /* project id 1741503 */
    src: url('https://at.alicdn.com/t/font_1741503_65dz5x1kw9d.eot');
    src: url('https://at.alicdn.com/t/font_1741503_65dz5x1kw9d.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1741503_65dz5x1kw9d.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1741503_65dz5x1kw9d.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1741503_65dz5x1kw9d.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1741503_65dz5x1kw9d.svg#iconfont') format('svg');
}
/* 使用声明的字体库 */
.iconfont{
    font-family: iconfont;
    font-style: normal;
}

/* 重置样式 */
body {
    font:14px 'Microsoft YaHei','微软雅黑';
}
body,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
/* 公共样式 */
.wrapper{
    width: 1210px;
    margin: 0 auto;
}
/* 结构样式 */
/* 顶部 */
.top{
    background-color: #333333;
}
.top div{
    height: 36px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    position: relative;
}
.top ul::after{
    content: "";
    display: block;
    clear: both;
}
.top ul li{
    float: right;
    margin-right: 1em;
}
.top ul li:not(:last-child)::before{
    font-family: 'iconfont';
    content: "\e680";
    color: #4e4e4e;
}
.top ul li:nth-child(2)::after,
.top ul li:nth-child(3)::after{
    font-family: 'iconfont';
    content: "\e629";
    color: #4e4e4e;
}
.top ul li:first-child a::before{
    font-family: 'iconfont';
    content: "\e639";
    color: snow;
}
.top ul li a{
    line-height: 36px;
    color:#cccccc;
}

.fun_top{
    background-color: #ffffff;
}
.fun_top .wrapper{
    height: 140px;
}
.fun_top .wrapper > div{
    margin-top: 30px;
}
/* 顶部logo 搜索框 购物车按钮 */
.fun_top .wrapper > div:first-child ul::after{
    content:"";
    display: block;
    clear:both;
}
.fun_top .wrapper > div:first-child ul li{
    float: left;
    margin-top: 0;
}
.fun_top .wrapper > div:first-child ul li:nth-child(1){
    width: 212px;
    height: 60px;
    background-image: url('../images/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* 搜索框 */
.fun_top .wrapper > div:first-child ul li:nth-child(2){
    width: 532px;
    margin-left: 50px;
}
.fun_top .wrapper > div:first-child ul li:nth-child(2) input{
    float: left;
    border: 1px solid #cc9756;
    font-size: 14px;
}
.fun_top .wrapper > div:first-child ul li:nth-child(2) input:nth-child(1){
    border-radius: 2em 0 0 2em;
    width:70%;
    height: 40px;
    text-indent: 3em;
    box-sizing: border-box;
}
.fun_top .wrapper > div:first-child ul li:nth-child(2) input:nth-child(2){
    border-radius: 0 2em 2em 0;
    width:20%;
    height: 40px;
    background-color: #cc9756;
}
/* 购物车 */
.fun_top .wrapper > div:first-child ul li:nth-child(3){
    width: 134px;
    height: 38px;
    border: 2px solid #d12629;
    border-radius: 2em;
    margin-left: 30px;

    color: #dca556;
    text-align: center;
    line-height: 38px;
}
.fun_top .wrapper > div:first-child ul li:nth-child(3) a{
    color: #dca556;
}
.fun_top .wrapper > div:first-child ul li:nth-child(3) a::before{
    font-family: 'iconfont';
    content: "\e609";
}

/* 顶部菜单栏 */
.fun_top .wrapper > div:last-child ul{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.fun_top .wrapper > div:last-child ul::after{
    content: "";
    display: block;
    clear: both;
    margin:0 auto;
}
.fun_top .wrapper > div:last-child ul li{
    float: left;
    width: 56px;
    height: 23.65px;
    line-height: 23.65px;
    margin-right: 2em;
    /* background-color: black; */
}
.fun_top .wrapper > div:last-child ul li:not(:nth-child(10)):hover{
    border-bottom: 4px solid #cc9756;
}
.fun_top .wrapper > div:last-child ul li a{
    color: black;
}
.fun_top .wrapper > div:last-child ul li:hover a{
    color: #cc9756;
}
.fun_top .wrapper > div:last-child ul li:nth-child(10){
    color: black;
    width: 10px;
}
/* 轮播图 */
.roll{
    height: 420px;
    background-image: url(../images/lunbotu.jpg);
    /* 拉伸铺满 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* 人气推荐 */
.renqi{
    height: 660px;
    background-color: #f4f0ea;
}
.renqi .wrapper{
    padding-top: 20px;
}
.renqi_top {
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
}
.renqi_top a{
    color: black;
}
.renqi_top ul::after{
    content: "";
    display: block;
    clear: both;
}
.renqi_top ul li:not(:first-child){
    font-size: 14px;
    line-height: 40px;
}
.renqi_top ul li:hover:not(:first-child) a{
    color: #c3a09a;
}
.renqi_top ul li:not(:last-child){
    float:left;
    margin-left: 2em;
}
.renqi_top ul li:first-child{
    margin-left: 0;
    font-size: 28px;
    font-weight: 700;
}
.renqi_top ul li:last-child{
    float:right;
}
.renqi .wrapper > ul{
    position: absolute;
    margin-top: 50px;
}
.renqi .wrapper > ul::after{
    content: "";
    display: block;
    clear: both;
}
.renqi .wrapper > ul li{
    height: 280px;
    width: 223px;
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
}
.renqi .wrapper > ul li:first-child{
    height: 570px;
    width: 390px;
    background-color: rgba(255, 255, 200, 0.6);
}
.renqi .wrapper > ul li:not(:first-child){
    margin-left: 10px;
}
.renqi .wrapper > ul li:nth-child(2),
.renqi .wrapper > ul li:nth-child(3),
.renqi .wrapper > ul li:nth-child(4){
    margin-bottom: 10px;
}
.renqi .wrapper > ul li:nth-child(1) div:first-child{
    height: 390px;
    width: 390px;
    background-image: url(../images/renqi3.png);
    background-size: 100% 100%;
}
.renqi .wrapper > ul li:nth-child(1) div:last-child{
    height: 180px;
    width: 390px;
    background-color: rgb(206, 244, 247);
}
.renqi .wrapper > ul li:not(:first-child) div:first-child{
    height: 223px;
    width: 223px;
    background-image: url(../images/renqi4.png);
    background-size: 100% 100%;
}
.renqi .wrapper > ul li:not(:first-child) div:last-child{
    height: 57px;
    width: 223px;
    background-color: skyblue;
}
/* 限时购 */
.xianshigou{
    height: 500px;
    background-color: #ffffff;
}
.xianshigou .wrapper{
    padding-top: 15px;
}
.xianshigou_top{
    float: left;
    width: 100%;
    height: 40px;
    position: relative;
}
.xianshigou_top > ul li a{
    color: black;
}
.xianshigou_top > ul li:first-child{
    float: left;
    font-size:28px;
    font-weight: 600;
}
.xianshigou_top > ul li:last-child{
    float: right;
    font-size:14px;
    padding-top: 15px;
}
.xianshigou .wrapper > ul li{
    width: 420px;
    height: 210px;
    float: left;
    background-color: #ffffff;
}
.xianshigou .wrapper > ul li:first-child{
    width: 230px;
    height: 430px;
    background-image: url(../images/xianshi1.jpg);
    background-size: 100% 100%;
}
.xianshigou .wrapper > ul li:not(:first-child){
    margin-left: 10px;
}
.xianshigou .wrapper > ul li:not(:first-child) div{
    float: left;
}
.xianshigou .wrapper > ul li:not(:first-child) div:first-child{
    width: 40%;
    height: 210px;
    background-image: url(../images/xianshi4.png);
    background-size: 100% 100%;
}
.xianshigou .wrapper > ul li:not(:first-child) div:last-child{
    width: 60%;
    height: 210px;
    background-color: rgba(250, 199, 246, 0.6);
}
.xianshigou .wrapper > ul li:nth-child(2),
.xianshigou .wrapper > ul li:nth-child(3){
    margin-bottom: 10px;
}
/* 福利社 */
.fulishe{
    height: 450px;
    background-color: #f4f0ea;
}
/* 福利社头部 */
.fulishe_top{
    float: left;
    width: 100%;
    height: 40px;
    position: relative;
}
.fulishe_top > ul li a{
    color: black;
}
.fulishe_top > ul li:first-child{
    float: left;
    font-size:28px;
    font-weight: 600;
}
.fulishe_top > ul li:last-child{
    float: right;
    font-size:14px;
    padding-top: 15px;
}
/* /福利社头部 */
.fulishe .wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}
.fulishe .wrapper > ul::after{
    content: "";
    display: block;
    clear: both;
}
.fulishe .wrapper > ul>li{
    width: 22%;
    height: 380px;
    float: left;
    background-color: aliceblue;
}
.fulishe .wrapper > ul > li:nth-child(2){
    width: 56%;
    background-color: #ffffff;
}
.fulishe .wrapper > ul > li:first-child{
    background-image: url(../images/fulishe1.jpg);
    background-size: 100% 100%;
}
/* 今日特价 */
.cut{
    width: 100%;
    height: 380px;
}
.cut_top{
    height: 40px;
    border-bottom: 1px solid #f6f3ee;
}
.cut_top ul li a{
    color: black;
}
.cut_top ul li:first-child{
    float: left;
    font-size: 16px;
    padding-top: 20px;
}
.cut_top ul li:last-child{
    float: right;
    padding-top: 20px;
}
.cut > ul li{
    float: left;
    height: 130px;
    width: 284px;
    margin-top: 30px;
    margin-left: 15px;
}
.cut > ul li div{
    float: left;
}
.cut > ul li div:first-child{
    height: 130px;
    width: 130px;
    background-image: url(../images/fulishe3.png);
    background-size: 100% 100%;
}
.cut > ul li div:last-child{
    height: 130px;
    width: 154px;
    background-color: skyblue;
}
/* 量贩囤货 */
.stock{
    width: 100%;
    height: 50%;
}
.stock_top{
    height: 40px;
    border-bottom: 1px solid #f6f3ee;
}
.stock_top ul li a{
    color: black;
}
.stock_top ul li:first-child{
    float: left;
    font-size: 16px;
    padding-top: 20px;
}
.stock_top ul li:last-child{
    float: right;
    padding-top: 20px;
}
.stock > ul li{
    margin-top:15px;
    height: 50px;
    width: 90%;
    margin-left: 5%;
}
.stock > ul li div{
    float: left;
}
.stock > ul li div:first-child{
    width: 30%;
    height: 100%;
    background-image: url(../images/fulishe4.png);
    background-size: 100% 100%;
}
.stock > ul li div:last-child{
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* 今日买赠 */
.today{
    width: 100%;
    height: 50%;
}
.today_top{
    height: 40px;
    border-bottom: 1px solid #f6f3ee;
}
.today_top ul li a{
    color: black;
}
.today_top ul li:first-child{
    float: left;
    font-size: 16px;
    padding-top: 20px;
}
.today_top ul li:last-child{
    float: right;
    padding-top: 20px;
}
.today > ul li{
    margin-top:15px;
    /* background-color: red; */
    height: 50px;
    width: 90%;
    margin-left: 5%;
}
.today > ul li div{
    float: left;
}
.today > ul li div:first-child{
    width: 30%;
    height: 100%;
    background-image: url(../images/fulishe5.png);
    background-size: 100% 100%;
}
.today > ul li div:last-child{
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}